/*Global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat, sans-serif";
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f4f5f7;
}

h1 {
  font-size: 3.32rem;
  font-weight: 600;
  line-height: 1;
}
h2 {
  font-size: 2.76rem;
  font-weight: 400;
  line-height: 1.1;
}

h3,
.blog-titulopost,
.rodape-titulo {
  font-size: 2.3rem;
  line-height: 1.2;
}

p {
  font-size: 1.6rem;
}
strong {
  font-weight: 600;
}

ul {
  list-style: none;
}

input {
  padding: 1.02rem;
  background-color: white;
  box-shadow: inset 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 0.8rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #404040;
}

input::placeholder {
  color: #757575;
}

input:focus {
  outline: none;
}

.flex {
  display: flex;
  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

.secao {
  padding: 7.6rem 2rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-diferenciais,
.container-blog {
  max-width: 106rem;
  border-radius: 5rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.botao {
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 2.5rem;
  padding: 0.65rem 2.5rem;
  display: inline-block;
  color: white;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
  border-top: 0;
  border-left: 0;
}

.realce-semibold {
  font-weight: 600;
}

.diferenciais-h3,
.gratuito-h3,
.diferenciais-h3-empresas {
  font-size: 2.3rem;
  line-height: 1.2;
}

.hero-paragrafo,
.comoajudar-lista,
.comoajudar-paragrafo,
.difereiciais-p,
.rodape-subtitulo {
  font-size: 1.92rem;
  color: #404040;
  line-height: 1.3;
}

.caixa-h3,
.caixa-blog-h2 {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.42rem 1.6rem;
  border-radius: 1rem;
  color: white;
  transform: rotate(-3deg) translate(-50%, -50%);
  display: inline-block;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

/*Cabeçalho*/

.cabecalho-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.12rem;
  position: sticky;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.6rem 3.12rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
#cabecalho li a {
  font-size: 1.4rem;
  font-family: Montserrat, sans-serif;
  color: #112e61;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

#cabecalho li a:hover,
#cabecalho li a:active {
  color: #f60;
}

.triangulo::after {
  content: "\2BC6";
}

.triangulo {
  position: relative;
}

.triangulo ul {
  display: none;
  flex-flow: column;
  gap: 0;
  width: max-content;
  align-items: stretch;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 0.41rem 0;
  border-radius: 2.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16),
    inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

.triangulo ul li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.096);
  padding: 0 2rem;
  padding: 0.41rem 2rem;
}

.triangulo ul li:last-child {
  border-bottom: none;
  padding: 0 2rem;
}
.triangulo:hover ul {
  display: flex;
}

/*seçao Hero*/

.secao-hero {
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUN-banner-01.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-hero {
  display: flex;
  gap: 3.12rem;
  align-items: center;
}

.hero-botao {
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
}

.hero-botao:hover {
  border: solid 0.2rem white;
  background-color: white;
  color: #993c38;
  background-image: none;
}

.iframe-video {
  aspect-ratio: 16/9;
  border-radius: 2.5rem;
  flex: 5;
}
.hero-coluna {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  flex: 6;
}

.hero-botoes {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

/*seçao Conteúdos Gratuitos*/

.secao-conteudos {
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUN-banner-02.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-conteudos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-conteudos {
  max-width: 47.8rem;
  flex: 45;
  position: relative;
  left: 2rem;
  z-index: 1;
}
.conteudos-coluna {
  display: flex;
  flex-flow: column;
  gap: 3.9rem;
  flex: 55;
}

.caixas-cursos-hashtag {
  display: flex;
  gap: 2.5rem;
}

.caixa-cursos-hashtag {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.16);
  border-radius: 2.5rem;
  padding: 2rem;
}

.conteudos-titulo {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.conteudos-caixa-logos {
  display: flex;
  gap: 0.65rem;
}

.logo-circulo-cursos {
  display: inline-block;
  background-color: #e7e7e7;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  padding: 1.02rem;
}

.logo-circulo-cursos img {
  width: 100%;
}

.caixa-h3 {
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
}

.gratuito-h2 {
  font-size: 3.5rem;
  font-family: montserrat, sans-serif;
  color: #404040;
  font-weight: 400;
}

.span-gratuitos {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-weight: 700;
}

.conteudos-lista-redessociais {
  display: flex;
  flex-flow: column;
  gap: 0.65rem;
}

.gratuito-link-lista:link,
.gratuito-link-lista:visited {
  background-color: #eee;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
  padding: 0.42rem 3.12rem;
  border-radius: 2.5rem;
  display: inline-block;
  align-items: center;
  font-size: 1.92rem;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
}

.gratuito-link-lista li {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.gratuito-link-lista:hover,
.gratuito-link-lista:active {
  text-decoration: underline;
  color: #008ff7;
}

.gratuito-link-lista img {
  width: 1.8rem;
}

/*seçao Diferenciais*/

.container-diferenciais {
  border-radius: 5rem;
  background-color: white;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.divisao-azul-diferenciais {
  display: flex;
  gap: 4.88rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-image: linear-gradient(
    225deg,
    rgba(0, 81, 211, 0.616),
    rgba(1, 11, 99, 0.473)
  );
  padding: 4.88rem;
  padding-bottom: 12rem;
  color: white;
}

.caixa-restante-diferenciais {
  display: flex;
  flex-flow: column;
  gap: 4.88rem;
  padding: 4.88rem 2.5rem;
}

.bloco-itens-diferenciais {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: -10rem;
}

.caixa-itens-diferenciais {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  align-items: center;
  position: relative;
  text-align: center;
  border-radius: 2.5rem;
  background-color: white;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 7rem 2.5rem 3.12rem 2.5rem;
}

.caixa-imagem-diferenciais {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #ffaf00;
  border-radius: 1.25rem;
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.caixa-imagem-diferenciais img {
  width: 100%;
}

.diferenciais-empresas {
  display: flex;
  flex-flow: column;
  gap: 3.12rem;
  align-items: center;
}

.diferenciais-empresas img {
  height: 3rem;
  filter: grayscale(100%);
}

.logo-loreal {
  opacity: 60%;
}

.logo-disney,
.logo-subsea,
.logo-animale {
  opacity: 75%;
}

.caixa-diferenciais-h2 {
  border-left: solid 0.4rem #ffb20f;
  padding: 0.52rem 0 0.52rem 2rem;
}

.diferenciais-h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.diferenciais-h2 strong {
  font-weight: 600;
}

.diferenciais-h3 {
  color: #005e88;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-weight: 400;
}

.bloco-imagens-diferenciais {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  padding: 0 10rem;
}

.diferenciais-h3-empresas a {
  font-weight: 700;
  color: #005e88;
  text-decoration: none;
}

/* Seção o que falam */

.secao-oquefalam {
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUN-banner-04.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-oquefalam {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3.12rem;
}

.oquefalam-titulo {
  color: white;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.oquefalam-carrossel {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  gap: 2rem1;
}

.oquefalam-carrossel-imagens {
  display: flex;
  gap: 2rem;
  align-self: stretch;
}

.oquefalam-carrossel-img {
  flex: 1;
  background-color: #7489af;
  background-blend-mode: multiply;
  position: relative;
  background-position: 50%;
  background-size: cover;
  border-radius: 2.5rem;
  aspect-ratio: 16/9;
  display: inline-block;
}

.oquefalam-carrossel-img--1 {
  background-image: url(https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg);
}

.oquefalam-carrossel-img--2 {
  background-image: url(https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg);
}

.oquefalam-carrossel-img--3 {
  background-image: url(https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg);
}

.oquefalam-seta {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.seta--esquerda {
  left: 0;
  transform: translate(-150%, -65%);
}

.seta--direita {
  right: 0;
  transform: translate(160%, -65%);
}

.seta-player {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
}

.item-navegacao {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #86a8bc;
  display: inline-block;
}

.item-navegacao.ativa {
  background-color: #14577f;
}

.botao-oquefalam {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  border-bottom-color: #14577f;
  border-right-color: #14577f;
}

.botao-oquefalam:hover {
  border: solid 0.2rem white;
  background-color: white;
  color: #993c38;
  background-image: none;
}

/* Seção Na Mídia */

.secao-namidia {
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-Banner-05_1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-namidia {
  display: flex;
  gap: 3.12rem;
  justify-content: space-between;
}

.namidia-links,
.namidia-titulo {
  display: flex;
  align-items: center;
}

.namidia-links {
  gap: 2rem;
}

.namidia-titulo {
  gap: 1.02rem;
}

/* Seção Blog */

.container-blog {
  padding-top: 7.63rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  position: relative;
  background-color: #f9f9f9;
  padding: 4.88rem;
}

.caixa-blog-h2 {
  top: -1rem;
  width: max-content;
  background-image: linear-gradient(90deg, #feb914, #f6a50b);
  padding: 1.02rem 3.12rem;
}

.caixa-postblog {
  display: flex;
  flex-flow: column;
  gap: 1.28rem;
  flex: 1 1 40%;
  border-radius: 5rem;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  background-color: #fff;
}

.caixa-postblog img {
  width: 100%;
}

.caixaimg-postadoem {
  display: flex;
  flex-flow: column;
  gap: 0.7rem;
}

.blog-postadoem {
  font-size: 1.33rem;
  line-height: 1.5;
}

.blog-postadoem a {
  font-weight: 600;
  text-decoration: none;
  color: #f7a70c;
}

.blog-titulopost {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

/* Seção Pode Ajudar */

.secao-comoajudar {
  padding: 0;
}

.secao-sec-laranja,
.secao-sec-cinza {
  padding: 7.63rem 2rem;
}

.container-comoajudar,
.container-comoajudar-2 {
  width: 86rem;
}

.container-comoajudar,
.container-comoajudar-2 {
  display: flex;
  flex-flow: column;
}

.container-comoajudar-2 {
  gap: 1.6rem;
}

.container-comoajudar {
  align-items: center;
  gap: 3.12rem;
}

.caixa-comoajudar-h2 {
  display: inline-block;
  padding: 0.42rem 1.6rem;
  color: white;
  border-radius: 1rem;
  box-shadow: inset 0 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(90deg, #14a1d5, #1a8ad4);
}

.secao-sec-laranja {
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-banner-07.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.comoajudar-lista {
  display: flex;
  flex-flow: column;
  gap: 1.28rem;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2.5rem;
  background-color: #f9f9f9;
}

.comoajudar-lista a:link,
.comoajudar-lista a:visited,
.comoajudar-paragrafo a:link,
.comoajudar-paragrafo a:visited {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-lista a:hover,
.comoajudar-lista a:active,
.comoajudar-paragrafo a:hover,
.comoajudar-paragrafo a:active {
  color: #0056b3;
  font-weight: 600;
}

.comoajudar-lista li {
  display: flex;
  align-items: start;
  gap: 0.82rem;
}

.comoajudar-lista li img {
  transform: translatey(40%);
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Seção Minicurso */

.secao-minicurso {
  background-image: linear-gradient(90deg, #9e4ad7, #753db6);
  color: white;
}

.form-minicurso {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: end;
}

.container-curso {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  align-items: center;
}

.form div {
  display: flex;
  flex-flow: column;
  gap: 0.82rem;
}

.form div label {
  margin-left: 0.8rem;
}

.botao-minicurso {
  background-color: #ffba29;
  border-bottom-color: #664a10;
  border-right-color: #664a10;
}

.botao-minicurso:hover {
  border: solid 0.2rem #ffba29;
}

/* Seção Rodapé */

.container-rodape {
  width: 106rem;
  display: flex;
  align-items: start;
  gap: 4.88rem;
}

.logo-footer {
  width: 18rem;
}

.subsecao-rodape,
.subsecao-cursosonline,
.subsecao-assistente,
.rodape-div-iconelink,
.rodape-coluna {
  display: flex;
  flex-flow: column;
}

.rodape-coluna {
  gap: 3.12rem;
}

.subsecao-rodape {
  gap: 1.6em;
}

.subsecao-cursosonline {
  gap: 1.28rem;
}

.subsecao-assistente {
  gap: 1.02rem;
}

.rodape-div-iconelink {
  gap: 0.65rem;
}

.rodape-iconelink {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.rodape-redessociais {
  display: flex;
  gap: 0.82rem;
}

.rodape-titulo,
.rodape-subtitulo,
.rodape-seg-subtitulo {
  font-weight: 600;
}

.rodape-link {
  color: #1a77a4;
}

.rodape-copyright {
  text-align: center;
}

.rodape svg {
  width: 2.4rem;
}

.link-redessociais:hover svg {
  stroke: #f60;
  fill: #f60;
}

.link-redessociais svg {
  stroke: #404040;
  fill: #404040;
}

.rodape a.link-redessociais:link,
.rodape a.link-redessociais:visited,
.rodape a.link-redessociais:hover,
.rodape a.link-redessociais:active {
  color: transparent;
}

.rodape a:hover,
.rodape a:active {
  color: #f60;
}

.form-newsletter {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  align-items: center;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2.5rem;
  background-color: #fff;
}

.botao-newsletter {
  background-color: #1a77a4;
  border-bottom-color: #0c374d;
  border-right-color: #0c374d;
}

.botao-newsletter:hover {
  border: solid 0.2rem #1a77a4;
}

.logo-whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 0.8rem;
  width: 8.5rem;
}

.logo-whatsapp:hover {
  transform: translate(0.5rem, 0.5rem);
}

.logo-whatsapp img {
  width: 100%;
}

/*POPUP */

.popup-aberto {
  & .popup {
    display: flex;
  }
}

.popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);

  & .cont-popup {
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 60rem;
    height: 49.5rem;
    background-color: black;
    border: 4px solid white;
    border-radius: 2.5rem;
    box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.158);

    & .imagem-popup {
      & img {
        width: 100%;
      }
    }

    & .cont-baixo-popup {
      padding: 1rem;
      justify-content: center;
      gap: 1rem;

      & .textos-popup {
        display: flex;
        flex-flow: column;
        text-align: justify;
        color: white;
        font-weight: 600;
        letter-spacing: 0.2rem;
      }

      & form {
        gap: 1rem;

        & .botao-popup {
          &:link,
          &:visited {
            text-decoration: none;
            color: inherit;
            color: black;
            text-align: center;
            background-color: #ffac00;
            border-radius: 0.8rem;
            padding: 0.82rem 3.2rem;
            font-weight: 700;
            border: 0px solid #a06b00;
            border-right-width: 3px;
            border-bottom-width: 3px;
          }

          &:hover,
          &:active {
            border-width: 1.5px;
          }
        }
      }
    }

    & .fechar {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: white;
      right: 1rem;
      top: 1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      font-weight: 700;
      font-size: 1.92rem;
      color: black;

      &:hover {
        border-width: 1px;
      }
    }
  }
}
